.header__email {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 475px) {
    .header__email {
      font-size: 13px;
      line-height: 18px;
    }
  }